*{
    margin: 0;
    padding: 0;
}


/* ============== Header Styles ==============*/

.site-header{
    display: flex;
    align-items: center;
    height: 65px;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
}
.nav-ul a:hover{
  color: #fff;
  cursor: pointer;
}

.header-logo{
    width: 70px;
    margin-left: 100px;
    img{
        width: 90px;
    }
}
.nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-right: 100px;
    li a{
      text-decoration: none;
      color: #CF9D3A;
      position: relative;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
  }a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }a:hover::before {
    transform: scaleX(1);
  }
}
.nav-ul > li {
    margin: 0 10px;
    overflow: hidden;
}

#hamburger{
  text-align: left;
}

a#hamburger:hover{
  background-color: #000;
  color: #fff;
}
i.hide{
  display:none;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #CF9D3A;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
    position: absolute;
    height: 2.7px;
    width: 32px;
    border-radius: 3px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
  }
  /*  transforms the hamburger icon into a cross  */
   
/* Mobile/tablet nav menu styling with media queries */


  @media (max-width: 770px) {
    .header-logo{
        margin-left: 20px;
    }
    .menu-button-container {
      display: flex;
      margin-right: 20px;
    }
    .nav-ul {
      position: absolute;
      top: -10px;
      margin-top: 94px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      z-index: 99;
    }
    #menu-toggle ~ .nav-ul li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
    }
    #menu-toggle:checked ~ .nav-ul li {
      border: 0.5px solid #CF9D3A;
      height: 2.5em;
      padding: 0.5em;
    }
    .nav-ul > li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      /* padding: 0.5em 0; */
      width: 100%;
      color: black;
      background-color: #122940;
    }
    .nav-ul > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }


 /* ============== HOME PAGE Styles ==============*/


.hero-section{
    height: 100vh;
    position: relative;
}

.hero-bg{
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
}
.hero-bg{
  background-image: url(./Images/Headers/jason-leung-poI7DelFiVA-unsplash.jpg);
  background-size: cover;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  z-index: -10;
}
.hero-image-overlay{
  height: 50vh;
  background-color: #122940;
  opacity: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  top: -6rem;
  z-index: -9;
}

.hero-text{
  text-align: center;
  position: relative;
  top: 25%; 
  font-family: "espoir";
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
  color: #CF9D3A;
    
}
.hero-h3{
  margin: 0;
  font-size: 1.5rem;
}
.hero-h1{
  font-size: 2.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero-h4{
  margin: 0;
}

.tile-section{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-shadow: 5px 5px 5px rgba(0,0,0,0.75);
  img{
      width: 200px;
      height: 200px;
      border-radius: 20px;
  }
}

.tile{
  position: relative;
  display: inline-block;
  padding: 1rem;
  
}
.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Espoir";
  font-size: 2.5rem;
  text-transform: uppercase;
  left: 50%;
}

@media (min-width: 760px) {
  .hero-h1{
    font-size: 4rem;
  }
  .hero-h3{
    font-size: 2.5rem;
  }
  .hero-h4{
    font-size: 1.7rem ;
  }
}

 /* ============== MENU PAGE Styles ==============*/
 
 .header-section{
  height: 40vh;
  position: relative;
  display: flex;
  opacity: 100%;
  justify-content: center;
}

.header-h1{
  font-size: 3rem;
  margin-top: 3.5rem;
}

.menuHeader-bg{
  background-image: url(./Images/Headers/ktryna-wq7VErajAaE-unsplash.jpg);
  opacity: 40%;
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  z-index: -5;
}

.menus-section{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
  font-size: 1.5rem;
}


/* ============== ABOUT PAGE Styles ==============*/


.AboutHeader-bg{
  background-image: url(./Images/Headers/AdobeStock_626472323.jpeg);
  background-size: cover;
  background-position: 0 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem;
  opacity: 40%;
  z-index: -5;
}

.welcome-h2{
  margin-top: 2vmin;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;

}

.welcome-p{
  margin-bottom: 4rem;
  padding: 15px;
}


/* ============== CONTACT PAGE Styles ==============*/

.contactHeader-bg{
  background-image: url(./Images/Headers/AdobeStock_626472323.jpeg);
  background-size: cover;
  background-position: 0 50%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  height: 100%;
  top: -6rem; 
  z-index: -5;
}
.reservation-section{
  padding: 15px;
  margin-bottom: 10rem;
}

.reservation-h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;

}

.reservation-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 2rem;
}

/* ========MOBILE MEDIA QUERY=========== */

@media (min-width: 500px  ) {
  .tile-section{
    img{
      width: 300px;
      height: 300px;
    }
  }
  .overlay{
    font-size: 3rem;
  }
  .welcome-p{
    width: 490px;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  .header-h1{
    font-size: 3.2rem;
  }
  .hero-h4{
    font-size: 1.3rem;
  }
  .menus-section{
    font-size: 2rem;
  }
  .reservation-form{
    max-width: 400px;
    margin: 0 auto;
  }
}

/* ========TABLET MEDIA QUERY=========== */

@media (min-width: 760px) {
  .hero-h1{
    font-size: 4rem;
  }
  .welcome-p{
    font-size: 1.3rem;
  }
  .hero-h3{
    font-size: 2.5rem;
  }
  .hero-h4{
    font-size: 1.7rem ;
  }
}

/* ========DESKTOP MEDIA QUERY=========== */

@media (min-width: 1000px) {
  .reservation-form{
    font-size: 1.4rem;
  }
  .welcome-p{
    width: 700px;
  }
  .tile-section{
    img{
      width: 300px;
      height: 300px;
    }
  }
  .tile{
    padding: 2rem;
  }
  .overlay{
    font-size: 4rem;
  }
}
